<!DOCTYPE html>
<html>
  <head>
    <title>Just for fun!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    </head>

  <body>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
    <div class="nav">
      <%= react_component("Header", { user: current_user, loggedIn: logged_in? , prerender: true }) %>
    </div>
    <div class='container'>
      <%= yield %>
    </div>
    
  </body>
</html>
